html.light {
  background: #cfe3e4 !important;
}

body.light {
  color: $light-main;
  background: $light-bg;
}

.light {
  a {
    color: $light-main;
  }
  svg {
    fill: $light-main;
  }
}

// ---- Global-Classes ----
.light {
  .btn {
    color: $light-white;
    background: $light-main;
    &:hover {
      box-shadow: 0px 0px 8px rgba($main, 0.25);
    }
  }

  .input {
    input,
    textarea {
      color: $light-main;
      &::placeholder {
        color: $light-main;
      }
    }
    svg {
      fill: $light-main;
    }
  }

  .block {
    @include border-shadow();
    &.hover {
      &:hover {
        box-shadow: 0px 4px 12px rgba($light-main, 0.3);
      }
    }
  }

  .block2 {
    background-color: $light-block2;
  }

  .tag {
    background-color: $light-main;
    a {
      color: $light-white;
    }
  }

  .bb {
    background-color: $main;
    color: $light-white;
  }

  .inline {
    color: $gray;
    &:hover {
      color: $main;
    }
  }

  .popup {
    .popup__item {
      color: $light-main;
    }
  }

  .avatar {
    img {
      border: 1px solid $light-main;
    }
    svg {
      path {
        fill: $light-main;
      }
      circle {
        fill: $light-block2;
      }
    }
  }
}

.light {
  &::-webkit-scrollbar-thumb {
    background-color: $light-main;
  }
  &::-webkit-scrollbar-track {
    background-color: $light-block2;
  }
  *::selection {
    background: rgba($light-main, 0.2) !important;
  }
}

.light {
  .sidebar {
    .item {
      &.active {
        position: relative;
        color: $light-main;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0px;
          border-radius: 5px;
          background-color: rgba($light-main, 0.07);
          width: 102%;
          height: 155%;
        }
      }
      svg {
        fill: $light-main;
      }
    }
  }
}
