// ---- Varies ----
$font: 'Calibri';

$main: #0df6e3;
$white: #eae7f4;
$black: #000;
$gray: #74707f;
$gray2: rgba($white, 0.1);
$bg: #1f1a30;
$purple: #39304d;
$purple2: #302744;
$bg-gradient: linear-gradient(238.87deg, #1f1a30 6.16%, #2e2443 91.76%);

$light-bg: linear-gradient(219.32deg, #adcfd1 -42.72%, #ffffff 93.93%);
$light-white: #fefefe;
$light-black: #213b25;
$light-gray: #899b96;
$light-gray2: #c2d7dd;
$light-main: #0b828c;
$light-block: #f4f6fb;
$light-block2: #d9e9ea;
$light-hover: #c4dee0;

@mixin border-shadow() {
  background-color: $light-block;
  box-shadow: 0px 4px 8px rgba(#715ca0, 0.3);
  box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.53),
    13px 14px 12px -6px rgba(166, 180, 200, 0.57);
  border: 1px solid transparent;
  transition: 0.3s;
  background: linear-gradient(#d9e9ea 0 0) padding-box,
    linear-gradient(135.83deg, #ffffff 22.24%, #bac3cf 85.59%) border-box;
}
