// ---- Varies ----
$font: 'Calibri';

$main: #0df6e3;
$white: #eae7f4;
$black: #000;
$gray: #74707f;
$bg: #1f1a30;
$purple: #39304d;
$purple2: #302744;
$bg-gradient: linear-gradient(238.87deg, #1f1a30 6.16%, #2e2443 91.76%);

$light-bg: linear-gradient(219.32deg, #adcfd1 -42.72%, #ffffff 93.93%);
$light-white: #fefefe;
$light-black: #213b25;
$light-gray: #899b96;
$light-gray2: #c2d7dd;
$light-main: #0b828c;
$light-block: #f4f6fb;
$light-block2: #d9e9ea;
$light-hover: rgba($light-main, 0.1);
