@import '@/styles/assets/variables';

.loading {
  &:not(:last-child) {
    margin-bottom: 55px;
  }
  position: relative;
  background-color: $purple;
  width: 100%;
  height: 155px;
  border-radius: 38px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.11);
  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    animation: loading 1.5s infinite;
  }
  &:global(.loading__tag) {
    border-radius: 10px !important;
    width: 47% !important;
    height: 170px !important;
    margin-bottom: 20px !important;
    margin-right: 20px !important;
  }
  &:global(.loading__user) {
    border-radius: 10px !important;
    width: 30.5% !important;
    height: 105px !important;
    margin-bottom: 20px !important;
    margin-right: 20px !important;
  }
  @keyframes loading {
    100% {
      transform: translateX(100%);
    }
  }
}

:global(.light) {
  .loading {
    background-color: $light-block;
    box-shadow: 0px 4px 8px rgba(#715ca0, 0.3);
    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.53),
      13px 14px 12px -6px rgba(166, 180, 200, 0.57);
    border: 1px solid transparent;
    transition: 0.3s;
    background: linear-gradient(#d9e9ea 0 0) padding-box,
      linear-gradient(135.83deg, #ffffff 22.24%, #bac3cf 85.59%) border-box;
    &::after {
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
      );
    }
  }
}
