@import '@/styles/assets/variables';

.loading {
  &:not(:last-child) {
    margin-bottom: 55px;
  }
  position: relative;
  background-color: $purple;
  width: 100%;
  height: 155px;
  border-radius: 38px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.11);
  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    animation: loading 1.5s infinite;
  }
  &:global(.loading__tag) {
    border-radius: 10px !important;
    width: 47% !important;
    height: 170px !important;
    margin-bottom: 20px !important;
    margin-right: 20px !important;
  }
  &:global(.loading__user) {
    border-radius: 10px !important;
    width: 30.5% !important;
    height: 105px !important;
    margin-bottom: 20px !important;
    margin-right: 20px !important;
  }
  @keyframes loading {
    100% {
      transform: translateX(100%);
    }
  }
}

:global(.light) {
  .loading {
    background-color: $light-block;
    box-shadow: 0px 4px 8px rgba(#715ca0, 0.3);
    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.53),
      13px 14px 12px -6px rgba(166, 180, 200, 0.57);
    border: 1px solid transparent;
    transition: 0.3s;
    background: linear-gradient(#d9e9ea 0 0) padding-box,
      linear-gradient(135.83deg, #ffffff 22.24%, #bac3cf 85.59%) border-box;
    &::after {
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
      );
    }
  }
}

.post {
  &:not(:last-child) {
    margin-bottom: 120px;
  }
  .loading {
    height: 25px;
    border-radius: 5px;
  }
  .img {
    height: 350px;
    margin-bottom: 30px;
  }
  .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  .category {
    width: 25%;
    margin-bottom: 0;
  }
  .info__extra {
    width: 35%;
    margin-bottom: 0;
  }
  .title {
    height: 35px;
    margin-bottom: 20px;
  }
  .description {
    height: 80px;
    margin-bottom: 40px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .tags {
    width: 45%;
  }
  .statistic {
    width: 35%;
  }
}

.mini_post {
  &:not(:last-child) {
    margin-bottom: 0px;
  }
  .loading {
    height: 20px;
    border-radius: 5px;
  }
  .title {
    margin-bottom: 15px;
  }
  .description {
    height: 75px;
    margin-bottom: 15px;
  }
  .footer {
    display: flex;
  }
  .category {
    width: 30%;
    margin-right: 25px;
  }
  .date {
    width: 35%;
  }
}