@import "@/styles/assets/variables";

.select {
  display: flex;
  align-items: center;
  border-radius: 10px;
  z-index: 300;
  padding: 0;
  :global {
    .select__control {
      cursor: pointer !important;
      background: none;
      border: none !important;
      outline: none !important;
      box-shadow: none;
      font-size: 16px;
      line-height: 18px;
      padding: 2px 7px;
    }
    .select__control--menu-is-open {
      .select__single-value {
        opacity: 0.5;
      }
      .select__dropdown-indicator {
        opacity: 0.5;
      }
    }
    .select__single-value {
      transition: 0.2s;
    }
    .select__dropdown-indicator {
      transition: 0.2s;
      pointer-events: none;
      color: $white !important;
    }
    .select__indicator-separator {
      display: none !important;
    }
    .select__single-value {
      color: $white;
    }
    .select__indicator {
      opacity: 1;
      &:hover {
        color: $white;
      }
    }
    .select__menu {
      background-color: $purple;
      left: 0px;
      box-shadow: 0px 0px 5px rgba($bg, 0.7);
      z-index: 100;
    }
    .select__option {
      cursor: pointer !important;
      background: none;
      font-size: 14px;
      background-color: transparent !important;
    }
    .select__option--is-selected {
      font-weight: 700;
    }
  }
}

:global(.light) {
  .select {
    :global {
      .select__dropdown-indicator {
        color: $light-main !important;
      }
      .select__single-value {
        color: $light-main;
      }
      .select__option--is-selected {
        color: $light-main;
      }
      .select__indicator {
        &:hover {
          color: $light-main;
        }
      }
      .select__menu {
        background-color: $light-block;
        box-shadow: 0px 0px 5px rgba($light-main, 0.3);
      }
      .select__menu-list {
        background-color: $light-block2;
      }
    }
  }
}
