@import '@/styles/assets/variables';

.login {
  margin-bottom: 70px !important;
}

.footer {
  margin-top: 50px;
}
.btn {
  padding: 9px 40px;
  font-size: 14px;
}
.link {
  margin-left: 25px;
  font-weight: 700;
  color: $gray;
  font-size: 14px;
  &:hover {
    color: $white;
  }
}
