@import "@/styles/assets/variables";

.header {
  padding: 20px 0;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .box {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 150px;
    margin-right: 120px;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .item {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    padding-bottom: 7px;
    &::after {
      transition: 0.2s;
      content: "";
      position: absolute;
      background-color: $main;
      height: 1.5px;
      border-radius: 1px;
      width: 0%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    a {
      color: $gray;
    }
    &:not(:last-child) {
      margin-right: 50px;
    }
    &:hover {
      a {
        color: $white;
      }
    }
    &.active {
      pointer-events: none;
      a {
        color: $white;
      }
      &:after {
        width: 50%;
      }
    }
  }
  .options {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.notices {
  position: relative;
  margin-top: 6px;
  .icon {
    width: 22px;
    margin-right: 30px;
  }
  .number {
    position: absolute;
    bottom: -4px;
    right: 23px;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: $bg;
  }
}

.user {
  .avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
  }
  .avatar__icon {
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
  .popup {
    top: 25px;
    right: 20px;
    position: absolute;
    .popup__item {
      display: block;
    }
  }
}

:global(.light) {
  .logo {
    path:nth-child(n + 2):nth-child(-n + 32) {
      fill: $light-main;
    }
    path:nth-child(31), path:nth-child(1) {
      fill: $light-gray !important;
    }
  }
  .item.active {
    a {
      color: $light-main;
    }
    &::after {
      background-color: $light-main;
    }
  }
  .avatar {
    border: 1px solid $light-main;
  }
  .avatar__icon {
    border-radius: 50%;
    border: 1px solid $light-main;
    path {
      fill: $light-main;
    }
    circle {
      fill: $light-block2;
    }
  }
}
