@import "@/styles/assets/variables";

.header {
  padding: 20px 0;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .box {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 150px;
    margin-right: 120px;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .item {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    padding-bottom: 7px;
    &::after {
      transition: 0.2s;
      content: "";
      position: absolute;
      background-color: $main;
      height: 1.5px;
      border-radius: 1px;
      width: 0%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    a {
      color: $gray;
    }
    &:not(:last-child) {
      margin-right: 50px;
    }
    &:hover {
      a {
        color: $white;
      }
    }
    &.active {
      pointer-events: none;
      a {
        color: $white;
      }
      &:after {
        width: 50%;
      }
    }
  }
  .options {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.notices__wrapper {
  position: relative;
  .notices {
    cursor: pointer;
    position: relative;
    margin-top: 6px;
  }
  .icon {
    path {
      fill: $white;
    }
    width: 18px;
    margin-right: 25px;
  }
  .has {
    position: absolute;
    bottom: 0px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    color: $bg;
    border: 2px solid $bg;
  }
  .popup {
    z-index: 100;
    position: absolute;
    top: 30px;
    right: 10px;
    width: 200px;
    border-radius: 10px;
    padding: 20px 15px;
    .empty {
      text-align: center;
      font-weight: 700;
    }
  }
}

.user {
  .avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }
  .avatar__icon {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
  .popup {
    top: 25px;
    right: 20px;
    position: absolute;
    .popup__item {
      display: block;
    }
  }
}

.btn__theme {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 10px;
  transition: box-shadow 500ms;
  margin-right: 23px;
  span {
    display: inline-block;
  }
  .rays {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .rays .ray {
    position: absolute;
    border-radius: 50%;
    transition: all 500ms;
  }
  .rays .ray:nth-child(2) {
    transform: rotate(45deg);
  }
  .rays .ray:nth-child(3) {
    transform: rotate(90deg);
  }
  .rays .ray:nth-child(4) {
    transform: rotate(-45deg);
  }
  .shape {
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    border: 2px solid $bg;
    transition: all 500ms;
  }
  .shape.dark {
    width: 2em;
    height: 2em;
    box-shadow: inset -0.5em -0.5em $light-main;
  }
  .shape.dark ~ .rays .ray {
    width: 0;
    height: 0;
  }
  .shape.light {
    width: 1.25em;
    height: 1.25em;
    box-shadow: inset -0.7em -0.7em $white;
  }
  .shape.light ~ .rays {
    transform: rotate(90deg);
    transition: transform 750ms 400ms;
  }
  .shape.light ~ .rays .ray {
    width: 0.4em;
    height: 2.1em;
    background-color: $white;
  }
}

:global(.light) {
  .logo {
    path:nth-child(n + 2):nth-child(-n + 32) {
      fill: $light-main;
    }
    path:nth-child(31),
    path:nth-child(1) {
      fill: $light-gray !important;
    }
  }
  .item.active {
    a {
      color: $light-main;
    }
    &::after {
      background-color: $light-main;
    }
  }
  .avatar {
    border: 1px solid $light-main;
  }
  .avatar__icon {
    border: 1px solid $light-main;
    path {
      fill: $light-main;
    }
    circle {
      fill: $light-block2;
    }
  }
  .notices {
    .icon {
      path {
        fill: $light-main;
      }
    }
    .has {
      background-color: $light-main;
      border-color: #D0E4E5;
    }
  }
  .shape {
    border: 2px solid #D0E4E5;
  }
}
