@import '@/styles/assets/variables';

.header {
  padding: 20px 0;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .box {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 150px;
    margin-right: 120px;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .item {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    padding-bottom: 7px;
    &::after {
      transition: 0.2s;
      content: '';
      position: absolute;
      background-color: $main;
      height: 1.5px;
      border-radius: 1px;
      width: 0%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    a {
      color: $gray;
    }
    &:not(:last-child) {
      margin-right: 50px;
    }
    &:hover {
      a {
        color: $white;
      }
    }
    &.active {
      pointer-events: none;
      a {
        color: $white;
      }
      &:after {
        width: 50%;
      }
    }
  }
  .options {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.notices__wrapper {
  position: relative;
  .notices {
    cursor: pointer;
    position: relative;
    margin-top: 6px;
  }
  .icon {
    path {
      fill: $white;
    }
    width: 18px;
    margin-right: 25px;
  }
  .has {
    position: absolute;
    bottom: 0px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    color: $bg;
    border: 2px solid $bg;
  }
  .popup {
    z-index: 100;
    position: absolute;
    top: 30px;
    right: 10px;
    width: 200px;
    border-radius: 10px;
    padding: 20px 15px;
    .empty {
      text-align: center;
      font-weight: 700;
    }
  }
}

.user {
  .avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: none !important;
    box-shadow: none !important;
  }
  .avatar__icon {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
  .popup {
    top: 25px;
    right: 20px;
    position: absolute;
    .popup__item {
      display: block;
    }
  }
}


.theme {
  cursor: pointer;
  margin-right: 25px;
  .label {
    z-index: 0;
    cursor: pointer;
    background-color: $purple;
    width: 58px;
    height: 27px;
    padding: 5px;
    border-radius: 50px;
    position: relative;
    display: flex;
    transition: background 0.2s linear;
    justify-content: space-between;
    align-items: center;
  }
  .ball {
    background-color: $bg;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: transform 0.3s ;
  }
  .moon,
  .sun {
    width: 15px;
  }
  .sun {
    margin-right: 2px;
  }
  .moon {
    margin-left: 2px;
    width: 13px;
  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  .checkbox:checked + .label .ball {
    transform: translateX(30px);
  }
}

:global(.light) {
  .logo {
    path:nth-child(n + 2):nth-child(-n + 32) {
      fill: $light-main;
    }
    path:nth-child(31),
    path:nth-child(1) {
      fill: $light-gray !important;
    }
  }
  .item {
    a {
      color: $light-gray;
    }
    &:hover a {
      color: $light-main;
    }
    &.active {
      a {
        color: $light-main;
      }
      &::after {
        background-color: $light-main;
      }
    }
  }
  .avatar {
    border: 1px solid $light-main;
  }
  .avatar__icon {
    border: 1px solid $light-main;
    path {
      fill: $light-main;
    }
    circle {
      fill: $light-block2;
    }
  }
  .notices {
    .icon {
      path {
        fill: $light-main;
      }
    }
    .has {
      background-color: $light-main;
      border-color: #d0e4e5;
    }
  }
  .theme {
    .label {
      @include border-shadow;
      background-color: $light-block2;
    }
    .ball {
      top: 2.5px;
      background-color: $light-main;
    }
    .moon,
    .sun {
      path {
        fill: $light-main;
      }
    }
  }
  
}
