.rating {
  user-select: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
  .number {
    margin: 7px 0;
    user-select: none;
  }
  .arrow {
    cursor: pointer;
    width: 22px;
    opacity: 0.25;
    &:hover {
      opacity: 1;
    }
  }
}
