@import "@/styles/assets/variables";

.user {
  width: 30.5%;
  height: 205px;
  padding: 20px 15px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  .inner {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding: 10px 15px;
  }
  .avatar {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .info {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .name {
    margin-bottom: 5px;
  }
  .login {
    color: $gray;
    &:hover {
      color: $white;
    }
  }
  .results {
    display: flex;
    align-items: center;
    li {
      font-weight: 700;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}


:global(.light) {
  .login {
    color: $light-gray;
  }
}