// --------- main ----------
.main__inner {
  margin: 85px 0 150px;
  display: flex;
  justify-content: space-between;
  .sidebar {
    width: 25%;
    margin-right: 75px;
  }
  .content {
    width: 75%;
  }
  .rightSide {
    width: 75%;
    position: relative;
    padding: 35px 45px;
    background-color: $purple2;
  }
}

// --------- content ----------
.content {
  background-color: $purple2;
  padding: 50px;
  .title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
  .search {
    margin-bottom: 65px;
    input {
      width: 95%;
    }
  }
  .filters {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .select {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    p {
      font-size: 16px;
      line-height: 18px;
      margin-right: 13px;
    }
    svg {
      width: 12px;
      height: auto;
      fill: $white;
    }
  }
  .chooseAnswers {
    display: flex;
    align-items: center;
    .item:not(:last-child) {
      margin-right: 25px;
    }
    .item {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.2s;
      p {
        font-size: 16px;
        margin-right: 13px;
        transition: 0.2s;
      }
      svg {
        width: 12px;
        height: auto;
        fill: $white;
        transition: 0.2s;
      }
    }
    .item.active {
      color: $main;
      pointer-events: none;
      svg {
        fill: $main;
      }
    }
  }
}


// --------- login ----------
.login {
  width: 100%;
  height: 100vh;
  background-image: url("../../public/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .inner {
    width: 35%;
    padding: 44px 85px 24px;
    background-color: $bg;
    .back {
      width: 24px;
      fill: $gray;
      margin-bottom: 14px;
      &:hover {
        fill: $white;
      }
    }
    .title {
      font-weight: 700;
      font-size: 35px;
      line-height: 43px;
      margin-bottom: 15px;
    }
    .socNav {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .item {
        &:not(:last-child) {
          margin-right: 18px;
        }
        &:hover {
          background-color: $purple;
          svg {
            fill: $white;
          }
        }
        transition: 0.2s;
        width: 29px;
        height: 29px;
        border-radius: 7px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          padding-top: 2.5px;
          padding-left: 2px;
          width: 90%;
          fill: $bg;
        }
      }
    }
    .text {
      font-weight: 700;
      color: $gray;
    }
    .errorMessage {
      margin-top: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
    }
    .error {
      margin-left: 15px;
      margin-top: 3px;
      margin-bottom: 5px;
      font-size: 10px;
      line-height: 14px;
      display: block;
      width: 100%;
    }
    .inputs {
      margin-top: 50px;
    }
    .input {
      height: 56px;
      padding: 10px 15px;
      border-radius: 10px;
      transition: 0.3s;
      &:hover {
        label {
          color: $white;
        }
        svg {
          fill: $white;
        }
      }
      input {
        transition: 0.3s;
        background-clip: content-box;
        color-scheme: dark;
      }
      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px $purple inset !important;
        -webkit-text-fill-color: inherit !important;
      }
      input[type="password"]::-ms-reveal,
      input[type="password"]::-ms-clear {
        display: none;
      }

      .close,
      .eye {
        position: absolute;
        right: 0px;
        width: 13px;
        height: 13px;
        opacity: 0.65;
        transition: 0.2s;
        &:hover {
          opacity: 1;
        }
      }
      .eye {
        width: 18px;
        height: 18px;
        right: 25px;
      }
      &.value {
        label {
          opacity: 0;
        }
        input {
          font-size: 14px;
          padding-bottom: 15px;
        }
      }
      &.focus {
        background-color: $purple;
        label {
          font-size: 12px;
          top: 10px;
          color: $white;
        }
        svg {
          fill: $white;
          margin-top: 12px;
        }
      }
      svg {
        width: 23px;
        fill: $gray;
        margin-right: 17px;
      }
      label {
        text-transform: uppercase;
        transition: 0.2s;
        position: absolute;
        left: 53px;
        top: 38%;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 1px;
        color: $gray;
        pointer-events: none;
      }
      input {
        height: 100%;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        margin-top: 13px;
      }
    }
    .inputs {
      margin-bottom: 50px;
    }
    .btn {
      padding: 17px 55px;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      margin: 0 auto;
      margin-bottom: 53px;
    }
    .copy {
      text-align: center;
      font-weight: 700;
      a {
        color: $main;
      }
    }
  }
}

// --------- ques ----------
.ques {
  .popup {
    z-index: 100;
    position: absolute;
    top: 55px;
    right: 40px;
    border-radius: 10px;
    padding: 10px;
    .popup__item {
      cursor: pointer;
      font-weight: 700;
      color: $white;
      font-size: 14px;
      opacity: 0.75;
      transition: 0.2s;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .ques__header {
    display: flex;
    align-items: center;
    color: $gray;
    font-size: 16px;
    margin-bottom: 30px;
    svg {
      fill: $gray;
      width: 25px;
    }
    .item {
      &:not(:last-child) {
        margin-right: 25px;
      }
      display: flex;
      align-items: center;
      svg {
        margin-right: 8px;
      }
    }
    .eye {
      svg {
        width: 20px;
      }
    }
    .favorite {
      svg {
        width: 16px;
      }
    }
  }
  .options {
    z-index: 100;
    position: absolute;
    right: 45px;
    top: 35px;
    fill: $white;
    cursor: pointer;
    width: 20px;
  }
  .userInfo {
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    .box h6 {
      font-size: 14px;
      line-height: 18px;
      font-weight: 700;
      margin-bottom: 3px;
      transition: 0.2s;
      &:hover {
        color: $main;
      }
    }
    .username {
      color: $gray;
    }
  }
  .avatar {
    width: 40px;
    height: 40px;
    margin-right: 17px;
    transition: 0.2s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .date {
    font-weight: 700;
    color: $gray;
  }
  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .tagList {
    margin-bottom: 30px;
  }
  .ques__footer {
    margin-top: 35px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(242, 236, 248, 0.27);
    .item {
      color: $gray;
      font-weight: 700;
    }
    .item:not(:last-child) {
      margin-right: 7px;
      padding-right: 7px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        background-color: $gray;
        border-radius: 50%;
      }
    }
  }
  .ques__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ques__btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: $gray;
    display: flex;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      color: $main;
      svg {
        fill: $main;
      }
    }
    svg {
      transition: 0.2s;
      margin-right: 16px;
      fill: $gray;
      width: 17px;
    }
  }
}

// --------- answer ----------
.answers {
  margin-top: 75px;
  .answer:not(:last-child) {
    margin-bottom: 90px;
  }
  .answer {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .review {
    margin-right: 45px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .number {
      margin: 12px 0;
    }
    .arrow {
      cursor: pointer;
      fill: $white;
      width: 18px;
      &:hover {
        fill: $main;
      }
    }
  }
  .answer__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 35px;
  }
  .answer__header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    .userInfo {
      margin-right: 25px;
      margin-bottom: 0;
    }
  }
  .isAnswer {
    background-color: $main;
    display: inline-flex;
    border-radius: 30px;
    padding: 5px 10px;
    p {
      color: $bg;
      font-weight: 700;
      margin-right: 10px;
    }
    svg {
      fill: $bg;
      width: 12px;
    }
  }
  .answer__footer {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    .btn {
      padding: 5px 25px;
      font-size: 12px;
      line-height: 14px;
      margin-right: 15px;
    }
    .comments__btn {
      color: $gray;
      font-weight: 700;
    }
  }
  .comments__box {
    margin-top: 3px;
    .comments {
      margin-top: 15px;
    }
    .comment {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      b {
        color: $main;
        font-weight: 700;
      }
    }
  }
}

// --------- profile ----------
.profile {
  margin: 85px 0 150px;
  .block {
    background-color: $purple2;
    padding: 35px;
  }
  .profile__inner {
    display: grid;
    grid-template-areas:
      "box-1 box-2"
      "box-1 box-3";
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 50px;
  }
  .user__info {
    grid-area: box-1;
    min-width: 300px;
  }
  .user__about {
    grid-area: box-2;
  }
  .user__work {
    grid-area: box-3;
  }
  .avatar {
    width: 164px;
    height: 164px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 24px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 64px;
  }
  .info__box {
    margin-bottom: 64px;
    .info:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  .info {
    .label {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: $gray;
      margin-bottom: 10px;
    }
    .item {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
    }
  }
  .subscribe {
    font-size: 16px;
    line-height: 20px;
    padding: 9px 40px;
    display: flex;
    margin: 0 auto;
  }
  .statistic {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    .item:not(:last-child) {
      margin-right: 25px;
    }
    .item {
      color: $gray;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      b {
        color: $white;
      }
    }
  }
  .user__work {
    .questions {
      overflow: auto;
      max-height: 800px;
      padding: 5px 0;
    }
    .question {
      background-color: $purple;
    }
    .question:not(:last-child) {
      margin-bottom: 45px;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    .item {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      background-color: $purple;
      border-radius: 5px;
      padding: 9px 22px;
      cursor: pointer;
      color: $white;
      &.active {
        pointer-events: none;
        background-color: $main;
        color: $bg;
      }
    }
    .item:not(:last-child) {
      margin-right: 25px;
    }
  }
}

// --------- edit ----------
.edit {
  margin: 100px 0;
  background-color: $purple2;
  .create {
    padding: 70px 0;
    width: 80%;
    margin: 0 auto;
  }
  .title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .inputBlock {
    margin-bottom: 25px;
    .error {
      font-size: 12px;
      margin-top: 8px;
      margin-left: 5px;
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    .item:not(:last-child) {
      margin-right: 30px;
    }
    .item {
      cursor: pointer;
      width: 20px;
    }
    .item:nth-child(1) {
      width: 15px;
    }
    .item:nth-child(2) {
      width: 15px;
    }
  }
  .add {
    margin-left: 15px;
    color: $white;
    font-size: 18px;
  }
  .submit {
    padding: 10px 50px;
    font-size: 16px;
    line-height: 22px;
  }
}

// --------- editor ----------
.editor {
  margin-bottom: 25px;
  .inner {
    min-height: 400px;
    width: 100%;
    background-color: $purple;
    border-radius: 10px;
    padding: 25px 15px;
  }
}
