// --------- footer ----------
.footer {
  .copy {
    background: $purple2;
    width: 100%;
    padding: 15px 15px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    text-align: center;
    color: $white;
  }
}

// --------- header ----------
.header {
  padding: 20px 0;
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .box {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 150px;
    height: auto;
    margin-right: 120px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .list {
    display: flex;
    align-items: center;
  }
  .item {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    padding-bottom: 7px;
    &::after {
      transition: 0.2s;
      content: "";
      position: absolute;
      background-color: $main;
      height: 1px;
      width: 0%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    a {
      color: $gray;
    }
    &:not(:last-child) {
      margin-right: 50px;
    }
    &:hover {
      a {
        color: $white;
      }
    }
    &.active {
      pointer-events: none;
      a {
        color: $white;
      }
      &:after {
        width: 50%;
      }
    }
  }
  .btn {
  }
  .user {
    position: relative;
    display: flex;
    align-items: center;
    .notices {
      position: relative;
      .icon {
        width: 20px;
        margin-right: 30px;
      }
      .number {
        position: absolute;
        bottom: -4px;
        right: 23px;
        font-size: 10px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        color: $bg;
      }
    }
    img {
      cursor: pointer;
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 50%;
    }
    .popup {
      position: absolute;
      top: 25px;
      right: 20px;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      padding: 10px 15px;
      button.popup__item {
        color: #fff;
        text-align: left;
      }
      .popup__item {
        font-weight: 700;
        font-size: 14px;
        transition: 0.2s;
        opacity: 0.65;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

// --------- question ----------
.question {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 24px 32px;
  .left {
    position: relative;
  }
  .question__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .tagList {
    margin-bottom: 10px;
    .more {
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: $gray;
    }
  }
  .tag {
  }
  .date {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $gray;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .right {
    padding-left: 25px;
    .item:not(:last-child) {
      margin-bottom: 13px;
    }
    border-left: 2px solid rgba(242, 236, 248, 0.1);
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
      fill: $white;
      width: 25px;
      height: auto;
      margin-right: 13px;
    }
    p {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
    }
  }
  .answer {
    svg {
      fill: $main;
      width: 15px;
    }
    p {
      color: $main;
    }
  }
  .favorite {
    position: absolute;
    cursor: pointer;
    top: -3px;
    right: 135px;
    transition: 0.2s;
    width: 18px;
    path {
      transition: 0.2s;
    }
    path:nth-child(1) {
      fill: transparent;
    }
    path:nth-child(2) {
      fill: $gray;
    }
    &.active {
      path:nth-child(1) {
        fill: $main;
      }
      path:nth-child(2) {
        fill: transparent;
      }
    }
  }
}

// --------- main ----------
.main__inner {
  margin: 85px 0 150px;
  display: flex;
  justify-content: space-between;
  .sidebar {
    width: 25%;
    margin-right: 75px;
  }
  .content {
    width: 75%;
  }
  .rightSide {
    width: 75%;
    position: relative;
    padding: 35px 45px;
    background-color: $purple2;
  }
  .questions {
    .question:not(:last-child) {
      margin-bottom: 55px;
    }
  }
}

// --------- content ----------
.content {
  background-color: $purple2;
  padding: 50px;
  .title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
  .search {
    margin-bottom: 65px;
    input {
      width: 95%;
    }
  }
  .filters {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .select {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    p {
      font-size: 16px;
      line-height: 18px;
      margin-right: 13px;
    }
    svg {
      width: 12px;
      height: auto;
      fill: $white;
    }
  }
  .chooseAnswers {
    display: flex;
    align-items: center;
    .item:not(:last-child) {
      margin-right: 25px;
    }
    .item {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.2s;
      p {
        font-size: 16px;
        margin-right: 13px;
        transition: 0.2s;
      }
      svg {
        width: 12px;
        height: auto;
        fill: $white;
        transition: 0.2s;
      }
    }
    .item.active {
      color: $main;
      pointer-events: none;
      svg {
        fill: $main;
      }
    }
  }
}

// --------- pagination ----------
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  width: 100%;
  .list,
  .skip {
    display: flex;
    align-items: center;
  }
  .item {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: $gray;
    &:hover {
      color: $white;
      svg {
        fill: $white;
      }
    }
    svg {
      transition: 0.2s;
      fill: $main;
      width: 10px;
      height: 15px;
    }
    &:not(:last-child) {
      margin-right: 25px;
    }
    &.active {
      color: $bg;
      border-radius: 50%;
      background-color: $main;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }
  }
  .pagination__input {
    max-width: 65px;
    margin-right: 15px;
    position: relative;
    input {
      color: $white;
      width: 100%;
      border-radius: 25px;
      text-align: center;
      padding: 5px;
      border: 1px solid $main;
      font-weight: 700;
      font-size: 14px;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

// --------- sidebar ----------
.sidebar {
  .btn {
    width: 100%;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 22px;
    padding: 15px;
    text-align: center;
  }
  .box {
    &:not(:last-child) {
      margin-bottom: 65px;
      border-bottom: 1px solid #39304d;
      padding-bottom: 40px;
    }
    h5 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 20px;
      color: $gray;
    }
  }
  .nav {
    .item {
      &.active {
        pointer-events: none;
        a {
          color: $main;
        }
      }
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      a {
        display: inline-flex;
        align-items: center;
      }
      svg {
        fill: $main;
        width: 18px;
        margin-right: 25px;
      }
      p {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
  .tagList {
    margin-bottom: -15px;
    margin-right: -15px;
    .tag {
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
}

.input__tags {
  position: relative;
  .tagList {
    margin-right: 15px;
  }
  .tag {
    color: $bg;
    padding: 5px 10px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    &::after {
      content: url("../../public/img/close.svg");
      margin-left: 7px;
    }
  }
  .inner {
    position: relative;
    z-index: 110;
  }
  .popup {
    z-index: 100;
    position: absolute;
    left: 5px;
    top: 85%;
    width: 100%;
    background-color: $purple;
    box-shadow: 0px 7px 10px rgba($bg, 0.5);
    padding: 25px 25px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -5px;
  }
  .tag__item-wrapper {
    flex: 0 0 33.3%;
    padding: 0 5px;
  }
  .tag__item {
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
    transition: 0.2s;
    h5 {
      background-color: $main;
      font-weight: 700;
      text-transform: uppercase;
      color: $bg;
      padding: 2px 7px;
      border-radius: 3px;
      font-size: 14px;
      line-height: 16px;
      display: inline-block;
      margin-bottom: 15px;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow-y: hidden;
    }
    &:hover {
      background-color: $purple2;
    }
  }
}

// --------- login ----------
.login {
  width: 100%;
  height: 100vh;
  background-image: url("../../public/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .inner {
    width: 35%;
    padding: 44px 85px 24px;
    background-color: $bg;
    .back {
      width: 24px;
      fill: $gray;
      margin-bottom: 14px;
      &:hover {
        fill: $white;
      }
    }
    .title {
      font-weight: 700;
      font-size: 35px;
      line-height: 43px;
      margin-bottom: 15px;
    }
    .socNav {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .item {
        &:not(:last-child) {
          margin-right: 18px;
        }
        &:hover {
          background-color: $purple;
          svg {
            fill: $white;
          }
        }
        transition: 0.2s;
        width: 29px;
        height: 29px;
        border-radius: 7px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          padding-top: 2.5px;
          padding-left: 2px;
          width: 90%;
          fill: $bg;
        }
      }
    }
    .text {
      font-weight: 700;
      color: $gray;
    }
    .errorMessage {
      margin-top: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
    }
    .error {
      margin-left: 15px;
      margin-top: 3px;
      margin-bottom: 5px;
      font-size: 10px;
      line-height: 14px;
      display: block;
      width: 100%;
    }
    .inputs {
      margin-top: 50px;
    }
    .input {
      height: 56px;
      padding: 10px 15px;
      border-radius: 10px;
      transition: 0.3s;
      &:hover {
        label {
          color: $white;
        }
        svg {
          fill: $white;
        }
      }
      input {
        transition: 0.3s;
        background-clip: content-box;
        color-scheme: dark;
      }
      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px $purple inset !important;
        -webkit-text-fill-color: inherit !important;
      }
      input[type="password"]::-ms-reveal,
      input[type="password"]::-ms-clear {
        display: none;
      }

      .close,
      .eye {
        position: absolute;
        right: 0px;
        width: 13px;
        height: 13px;
        opacity: 0.65;
        transition: 0.2s;
        &:hover {
          opacity: 1;
        }
      }
      .eye {
        width: 18px;
        height: 18px;
        right: 25px;
      }
      &.value {
        label {
          opacity: 0;
        }
        input {
          font-size: 14px;
          padding-bottom: 15px;
        }
      }
      &.focus {
        background-color: $purple;
        label {
          font-size: 12px;
          top: 10px;
          color: $white;
        }
        svg {
          fill: $white;
          margin-top: 12px;
        }
      }
      svg {
        width: 23px;
        fill: $gray;
        margin-right: 17px;
      }
      label {
        text-transform: uppercase;
        transition: 0.2s;
        position: absolute;
        left: 53px;
        top: 38%;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 1px;
        color: $gray;
        pointer-events: none;
      }
      input {
        height: 100%;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        margin-top: 13px;
      }
    }
    .inputs {
      margin-bottom: 50px;
    }
    .btn {
      padding: 17px 55px;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      margin: 0 auto;
      margin-bottom: 53px;
    }
    .copy {
      text-align: center;
      font-weight: 700;
      a {
        color: $main;
      }
    }
  }
}

// --------- ques ----------
.ques {
  .ques__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: $gray;
    font-size: 16px;
    svg {
      fill: $gray;
      width: 25px;
    }
    .item {
      &:not(:last-child) {
        margin-right: 25px;
      }
      display: flex;
      align-items: center;
      svg {
        margin-right: 8px;
      }
    }
  }
  .options {
    position: absolute;
    right: 45px;
    top: 35px;
    fill: $white;
    cursor: pointer;
    width: 20px;
  }
  .userInfo {
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    .box h6 {
      font-size: 14px;
      line-height: 18px;
      font-weight: 700;
      margin-bottom: 3px;
      transition: 0.2s;
      &:hover {
        color: $main;
      }
    }
    .username {
      color: $gray;
    }
  }
  .avatar {
    width: 40px;
    height: 40px;
    margin-right: 17px;
    transition: 0.2s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .date {
    font-weight: 700;
    color: $gray;
  }
  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .tagList {
    margin-bottom: 30px;
  }
  .ques__footer {
    margin-top: 35px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(242, 236, 248, 0.27);
    .item {
      color: $gray;
      font-weight: 700;
    }
    .item:not(:last-child) {
      margin-right: 7px;
      padding-right: 7px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        background-color: $gray;
        border-radius: 50%;
      }
    }
  }
}

// --------- body ----------
.body {
  font-size: 18px;
  line-height: 20px;
  .el:not(:last-child) {
    margin-bottom: 15px;
  }
  b {
    font-weight: 700;
  }
  i {
    font-style: italic;
  }
  a {
    color: $main;
    &:hover {
      color: darken($main, 20%);
    }
  }
  code {
    background-color: $purple;
    color: $gray;
    padding: 15px 10px !important;
    width: 100%;
    display: block;
  }
  .list {
    counter-reset: list;
    li {
      padding-left: 40px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        left: 12px;
        top: 7.5px;
        background-color: #fff;
        border-radius: 50%;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &.ordered {
      li {
        &::before {
          counter-increment: list;
          content: counter(list) ".";
          width: auto;
          height: auto;
          background: none;
          top: 1px;
          left: 12px;
          font-size: 16px;
        }
      }
    }
  }
  .delimeter {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 10px;
  }
  .title {
    font-weight: 700;
  }
  h1.title {
    font-size: 45px;
    line-height: 50px;
  }
  h2.title {
    font-size: 38px;
    line-height: 42px;
  }
  h3.title {
    font-size: 32px;
    line-height: 36px;
  }
  h4.title {
    font-size: 26px;
    line-height: 32px;
  }
  h5.title {
    font-size: 20px;
    line-height: 28px;
  }
  h6.title {
    font-size: 16px;
    line-height: 26px;
  }
  .code {
    background-color: $purple;
    border-radius: 10px;
    padding: 55px 15px 10px;
    position: relative;
    overflow: hidden;
    code {
      padding: 0 !important;
      padding-bottom: 15px !important;
    }
    code div {
      background-color: $purple !important;
    }
    .code__lg {
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px 15px;
      background-color: #342b48;
      width: 100%;
      font-size: 14px;
    }
  }
  .quote {
    background-color: $purple;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: start;
    svg {
      fill: $gray;
      width: 25px;
      margin-right: 15px;
    }
    .quote__content {
      width: 100%;
    }
    h3 {
      font-style: italic;
    }
    p {
      color: $gray;
      text-align: right;
    }
  }
  .img {
    width: 100%;
    img {
      border-radius: 10px;
      max-width: 100%;
      max-height: 500px;
      object-fit: cover;
    }
  }
  code {
    font-size: 14px !important;
    overflow: auto !important;
    border-radius: 10px;
    padding: 10px 15px !important;
    font-family: "Consolas";
    &::-webkit-scrollbar {
      display: block !important;
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #2e2542;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
  table,
  td {
    * {
      cursor: default !important;
    }
    padding: 0 !important;
    background-color: transparent !important;
    font-size: 14px !important;
    line-height: 16px !important;
  }
}

.image-tool__caption {
  display: none;
}

// --------- question__content ----------
.ques__content {
  *:not(:last-child) {
    margin-bottom: 20px;
  }
  .text {
    font-size: 14px;
    line-height: 18px;
    b {
      font-weight: 700;
    }
  }
  .code {
    background-color: $purple;
    padding: 16px;
    border-radius: 12px;
    font-family: consolas;
    color: $gray;
    .code__inner {
      max-height: 300px;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(234, 231, 244, 0.13);
        border-radius: 3px;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }
  }
  .img {
    max-width: 100%;
    max-height: 300px;
  }
}

// --------- answer ----------
.answers {
  margin-top: 75px;
  .answer:not(:last-child) {
    margin-bottom: 90px;
  }
  .answer {
    display: flex;
    justify-content: space-between;
  }
  .review {
    margin-right: 45px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .number {
      margin: 12px 0;
    }
    .arrow {
      cursor: pointer;
      fill: $white;
      width: 18px;
      &:hover {
        fill: $main;
      }
    }
  }
  .answer__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 35px;
  }
  .answer__header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    .userInfo {
      margin-right: 25px;
      margin-bottom: 0;
    }
  }
  .isAnswer {
    background-color: $main;
    display: inline-flex;
    border-radius: 30px;
    padding: 5px 10px;
    p {
      color: $bg;
      font-weight: 700;
      margin-right: 10px;
    }
    svg {
      fill: $bg;
      width: 12px;
    }
  }
  .answer__footer {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    .btn {
      padding: 5px 25px;
      font-size: 12px;
      line-height: 14px;
      margin-right: 15px;
    }
    .comments__btn {
      color: $gray;
      font-weight: 700;
    }
  }
  .comments__box {
    margin-top: 3px;
    .comments {
      margin-top: 15px;
    }
    .comment {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      b {
        color: $main;
        font-weight: 700;
      }
    }
  }
}

// --------- profile ----------
.profile {
  margin: 85px 0 150px;
  .block {
    background-color: $purple2;
    padding: 35px;
  }
  .profile__inner {
    display: grid;
    grid-template-areas:
      "box-1 box-2"
      "box-1 box-3";
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 50px;
  }
  .user__info {
    grid-area: box-1;
    min-width: 300px;
  }
  .user__about {
    grid-area: box-2;
  }
  .user__work {
    grid-area: box-3;
  }
  .avatar {
    width: 164px;
    height: 164px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 24px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 64px;
  }
  .info__box {
    margin-bottom: 64px;
    .info:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  .info {
    .label {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: $gray;
      margin-bottom: 10px;
    }
    .item {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
    }
  }
  .subscribe {
    font-size: 16px;
    line-height: 20px;
    padding: 9px 40px;
    display: flex;
    margin: 0 auto;
  }
  .statistic {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    .item:not(:last-child) {
      margin-right: 25px;
    }
    .item {
      color: $gray;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      b {
        color: $white;
      }
    }
  }
  .user__work {
    .questions {
      overflow: auto;
      max-height: 800px;
      padding: 5px 0;
    }
    .question {
      background-color: $purple;
    }
    .question:not(:last-child) {
      margin-bottom: 45px;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    .item {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      background-color: $purple;
      border-radius: 5px;
      padding: 9px 22px;
      cursor: pointer;
      color: $white;
      &.active {
        pointer-events: none;
        background-color: $main;
        color: $bg;
      }
    }
    .item:not(:last-child) {
      margin-right: 25px;
    }
  }
}

// --------- #editor ----------
.editor {
  margin-bottom: 25px;
  .inner {
    min-height: 400px;
    width: 100%;
    background-color: $purple;
    border-radius: 10px;
    padding: 25px 15px;
  }
  .ce-toolbar {
    display: block !important;
  }
  .ce-toolbar__settings-btn {
    display: block !important;
  }
  .ce-toolbar__actions {
    opacity: 1 !important;
  }
  .ce-block__content {
    width: 100%;
    max-width: 710px;
  }
  .ce-toolbar__actions {
    margin-top: 3px;
    right: 106%;
  }
  .ce-toolbar__plus,
  .ce-toolbar__settings-btn {
    color: #fff;
    &:hover {
      background-color: $purple2;
    }
  }
  .cdx-search-field {
    display: none;
  }
  .ce-block--selected .ce-block__content {
    position: relative;
    background-color: transparent;
    &::before {
      content: "";
      position: absolute;
      background-color: $purple2;
      border-radius: 5px;
      width: calc(100% + 16px);
      height: 100%;
      z-index: -1;
      left: -8px;
    }
  }
  .ce-popover__items {
    margin-top: 0;
  }
  .ce-popover__item-icon {
    box-shadow: 0 0 0 1px rgba($bg, 0.5);
    svg path,
    line {
      stroke: $bg;
    }
    svg path {
      fill: $bg;
    }
  }
  .ce-popover__item[data-item-name="codeBox"] {
    svg path {
      stroke: none !important;
      fill: $bg !important;
    }
  }
  .ce-popover__item[data-item-name="image"] {
    svg {
      fill: none;
    }
    svg path:nth-child(1) {
      stroke: none;
      fill: $bg;
    }
    svg path:nth-child(2) {
      stroke: $bg;
      fill: none;
    }
    rect {
      stroke: $bg;
    }
  }
  .ce-popover__item-label {
    color: $bg;
  }
  .cdx-block {
    font-size: 18px;
    padding: 0;
  }
  .ce-inline-toolbar__toggler-and-button-wrapper {
    svg {
      fill: none;
    }
    path {
      stroke: $bg;
    }
  }
  .ce-block:not(:last-child) {
    margin-bottom: 15px;
  }
  .ce-block a {
    text-decoration: none;
    color: $main;
  }
  .ce-block .inline-code {
    background-color: $purple2;
    color: $gray;
    font-family: "Consolas";
    font-size: 14px !important;
    line-height: 20px !important;
    padding: 10px 15px !important;
    border-radius: 10px;
    width: 100%;
    display: block;
  }
  .ce-delimiter::before {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 10px;
  }
  .cdx-list {
    padding-left: 40px;
    li {
      padding: 0;
    }
  }
  .ce-header {
    font-weight: 700;
    padding: 0;
  }
  h1.ce-header {
    font-size: 45px;
    line-height: 50px;
  }
  h2.ce-header {
    font-size: 38px;
    line-height: 42px;
  }
  h3.ce-header {
    font-size: 32px;
    line-height: 36px;
  }
  h4.ce-header {
    font-size: 26px;
    line-height: 32px;
  }
  h5.ce-header {
    font-size: 20px;
    line-height: 28px;
  }
  h6.ce-header {
    font-size: 16px;
    line-height: 26px;
  }
  .ce-popover__item-icon {
    path {
      fill: none !important;
      stroke: $bg !important;
    }
  }
  .ce-conversion-tool__icon {
    path,
    line {
      fill: none !important;
      stroke: $bg !important;
    }
  }
  .ce-conversion-tool {
    color: $bg;
  }
  .ce-popover__items {
    &::-webkit-scrollbar {
      display: block !important;
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #2e2542;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
  .image-tool {
    .cdx-button {
      background-color: $bg;
      border: none;
      color: #fff;
      font-weight: 700;
      border-radius: 10px;
      transition: 0.3s;
      &:hover {
        background-color: lighten($bg, 5%);
      }
      svg {
        fill: none;
      }
      svg path:nth-child(1) {
        stroke: none;
        fill: #fff;
      }
      svg path:nth-child(2) {
        stroke: #fff;
        fill: none;
      }
      rect {
        stroke: #fff;
      }
    }
    img {
      max-height: 500px;
      border-radius: 10px;
    }
  }
  .cdx-quote {
    .cdx-input {
      border: none;
      background-color: $bg;
      border-radius: 10px;
      padding: 10px 15px;
    }
    .cdx-quote__text {
      font-style: italic;
      line-height: 24px;
    }
  }
  .codeBoxHolder {
    .hljs {
      padding: 20px 15px;
    }
    .codeBoxTextArea {
      &::-webkit-scrollbar {
        cursor: grab !important;
        display: block !important;
        height: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #2e2542;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }
    .dark,
    table {
      background-color: #342b48 !important;
    }
    .codeBoxTextArea div {
      background-color: #342b48;
    }
    .codeBoxSelectDropIcon {
      top: 5px;
    }
    .codeBoxSelectInput {
      font-size: 14px !important;
      font-weight: 700;
      padding: 5px 36px;
      // background-color: $purple2;
    }
  }
}

// --------- edit ----------
.edit {
  margin: 100px 0;
  .create {
    padding: 70px 0;
    width: 80%;
    margin: 0 auto;
  }

  background-color: $purple2;
  .title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .inputBlock {
    margin-bottom: 25px;
    .error {
      font-size: 12px;
      margin-top: 8px;
      margin-left: 5px;
    }
  }
  .input__tags {
    width: 100%;
    display: block !important;
    .inner {
      width: 100%;
      background-color: $purple;
      border-radius: 10px;
      padding: 15px;
      display: flex;
      align-items: center;
    }
  }
  .input__title {
    textarea {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      background-color: $purple;
      border-radius: 10px;
      padding: 15px;
      width: 100%;
      height: 100%;
      color: $white;
      &::placeholder {
        color: $gray;
      }
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    .item:not(:last-child) {
      margin-right: 30px;
    }
    .item {
      cursor: pointer;
      width: 20px;
    }
    .item:nth-child(1) {
      width: 15px;
    }
    .item:nth-child(2) {
      width: 15px;
    }
  }
  .input__tags {
    display: flex;
    align-items: center;
    input {
      font-size: 14px;
      line-height: 18px;
      font-weight: 700;
      width: 100%;
      color: $white;
      &::placeholder {
        color: $gray;
      }
    }
  }
  .add {
    margin-left: 15px;
    color: $white;
    font-size: 18px;
  }
  .submit {
    padding: 10px 50px;
    font-size: 16px;
    line-height: 22px;
  }
}
