@import "@/styles/assets/variables";

.comments {
  margin-top: 3px;
  .btn {
    color: $gray;
    font-weight: 700;
    transition: 0.2s;
    margin-bottom: 15px;
    &:hover {
      color: $white;
    }
  }
}

:global(.light) {
  .comments {
    .btn {
      color: $light-gray;
      &:hover {
        color: $light-main;
      }
    }
  }
}