@import '@/styles/assets/variables';

.question {
  padding-top: 10px;
  .header {
    display: flex;
    align-items: center;
    color: $gray;
    font-size: 16px;
    margin-bottom: 25px;
    svg {
      fill: $gray;
      width: 25px;
    }
    .header__item {
      &:nth-child(1) {
        color: $white;
      }
      &:not(:last-child) {
        margin-right: 15px;
        padding-right: 25px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0px;
          transform: translateY(-50%);
          width: 6px;
          height: 6px;
          background-color: rgba($white, 0.1);
          border-radius: 50%;
        }
      }
      display: flex;
      align-items: center;
      svg {
        margin-right: 8px;
      }
    }
    .eye {
      svg {
        width: 20px;
      }
    }
    .favorite {
      svg {
        width: 16px;
      }
    }
  }
  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 35px;
    word-wrap: break-word;
  }
  .underTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 2px solid rgba($gray, 0.4);
  }
  .tagList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    .tag:not(:last-child) {
      margin-right: 15px;
    }
  }
  .updatedAt {
    margin-top: 10px;
    font-size: 14px;
    color: $gray;
    text-align: right;
  }
  .footer {
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    border-top: 2px solid rgba($white, 0.1);
    .item {
      color: $gray;
      font-weight: 700;
    }
    .item:not(:last-child) {
      margin-right: 7px;
      padding-right: 7px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        background-color: $gray;
        border-radius: 50%;
      }
    }
  }
  .footer__btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    &:hover {
      svg {
        fill: $main;
      }
    }
    svg {
      transition: 0.2s;
      margin-right: 16px;
      fill: $gray;
      width: 17px;
    }
    &.active {
      color: $main;
    }
  }
  .popup {
    top: 45px;
    right: 40px;
  }
  .comments__wrapper {
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    textarea {
      background-color: $purple2;
    }
  }
}
