@import "@/styles/assets/variables";

.comments {
  margin-top: 3px;
  .btn {
    color: $gray;
    font-weight: 700;
    transition: 0.2s;
    &:hover {
      color: $white;
    }
  }
  .list {
    margin-top: 15px;
  }
}
