@import "@/styles/assets/variables";

.notfound {
  margin: 50px auto;
  text-align: center;
  svg {
    fill: $gray;
    width: 250px;
    margin: 0 auto;
  }
  h4 {
    width: 350px;
    color: $gray;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto;
    margin-top: -25px;
    margin-bottom: 10px;
  }
}
