@import '@/styles/assets/variables';

.works {
  margin-top: 65px;
  .sort {

  }
  :global {
    .search {
      background-color: $purple;
      padding: 14px 24px;
      margin-bottom: 35px;
    }
    .select {
      background-color: $purple;
      padding: 0;
    }

  }
  .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}