@import "@/styles/assets/variables";

.reply {
  margin-bottom: 70px;
  .editor {
    margin-bottom: 15px;
    .input {
      min-height: 150px !important;
    }
    .error {
      margin-top: 5px;
    }
  }
  .user {
    margin-bottom: 20px;
  }
}
