@import '@/styles/assets/variables';

.answer {
  padding-top: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 50px;
    .footer {
      padding-bottom: 30px;
      border-bottom: 2px solid $gray2;
    }
  }
  .side {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 35px;
  }
  .content {
    width: 100%;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .header__info {
    display: flex;
    align-items: center;
  }
  .date {
    color: $gray;
    font-weight: 700;
  }
  .user {
    margin-right: 20px;
  }
  .isAnswer {
    display: inline-flex;
    p {
      font-weight: 700;
      margin-right: 10px;
    }
    svg {
      fill: $bg;
      width: 12px;
    }
  }
  .isAnswer__icon {
    cursor: pointer;
    opacity: 0.25;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
    &.active {
      fill: $main;
      opacity: 1;
    }
    &.disabled {
      pointer-events: none;
    }
  }
  .footer {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    .btn {
      padding: 5px 25px;
      font-size: 12px;
      line-height: 14px;
      margin-right: 15px;
    }
  }
  .comments {
    width: 100%;
  }
}

:global(.light) {
  .answer {
    &:not(:last-child) {
      .footer {
        border-bottom: 2px solid $light-gray2;
      }
    }
    .date {
      color: $light-gray;
    }
    .user {
      margin-right: 20px;
    }
    .isAnswer {
      display: inline-flex;
      background-color: $light-main;
      p {
        color: $light-white;
      }
      svg {
        fill: $light-white;
      }
    }
    .isAnswer__icon {
      &.active {
        fill: $light-main;
      }
    }
  }
}
