@import "@/styles/assets/variables";

.answer {
  padding-top: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 90px;
  }
  .side {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 45px;
  }
  .rating {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
    .number {
      margin: 7px 0;
    }
    .arrow {
      cursor: pointer;
      width: 18px;
      opacity: 0.25;
      &:hover {
        opacity: 1;
      }
    }
  }
  .content {
    width: 100%;
  }
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .user {
    margin-right: 20px;
  }
  .isAnswer {
    display: inline-flex;
    p {
      font-weight: 700;
      margin-right: 10px;
    }
    svg {
      fill: $bg;
      width: 12px;
    }
  }
  .isAnswer__icon {
    cursor: pointer;
    opacity: 0.25;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
    &.active {
      fill: $main;
      opacity: 1;
    }
  }
  .footer {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    .btn {
      padding: 5px 25px;
      font-size: 12px;
      line-height: 14px;
      margin-right: 15px;
    }
  }
  .comments {
    width: 100%;
  }
}
