@import '../../styles/assets/variables';

.footer {
  .copy {
    background: $purple2;
    width: 100%;
    padding: 15px 15px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    text-align: center;
    color: $white;
  }
}