@import '@/styles/assets/variables';

.user {
  margin-right: 55px;
  width: 25% !important;
  .avatar__wrapper {
    position: relative;
    flex: 0 0 auto;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid $purple;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 55px;
    &:hover {
      .avatar__edit {
        opacity: 1;
      }
    }
  }
  .avatar {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .avatar__edit {
    cursor: pointer;
    opacity: 0;
    transition: 0.4s;
    z-index: 20;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($bg, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 30px;
    }
    input {
      cursor: pointer;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 0;
    }
  }
  .info {
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    margin-bottom: 30px;
  }
  .name {
    font-weight: 700;
  }
  .login {
    color: $gray;
  }

  .extra {
    .box:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  .box {
    .label {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: $gray;
    }
    .item {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      word-wrap: break-word;
      word-break: break-all !important;
    }
    .item,
    .input {
      margin-top: 10px;
    }
  }

  .footer {
    margin-top: 35px;
    display: flex;
    align-items: center;
  }

  .subscribe,
  .edit {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 40px;
    display: flex;
    margin: 0 auto;
  }

  .input {
    width: 100%;
    background-color: $purple;
    color: $white;
    padding: 15px;
    border-radius: 15px;
    font-size: 14px;
    &::placeholder {
      color: rgba($white, 0.5);
    }
  }

  .showEmail {
    .label {
      cursor: pointer;
      width: 100%;
      margin-bottom: 0;
      transition: 0.3s;
    }
    &:hover {
      .checkbox + label::after {
        border-color: $white;
      }
      label {
        color: $white;
      }
    }
    .checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .checkbox + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      justify-content: space-between;
    }
    .checkbox + label::after {
      transition: 0.3s;
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $gray;
      border-radius: 4px;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
    .checkbox:checked + label {
      color: $main;
    }
    .checkbox:checked + label::after {
      border-color:  $main;
      background-color:  $main;
      background-image: url('../../../../../public/img/check.svg');
    }
  }
}
