@import '@/styles/assets/variables';

.question {
  .header {
    display: flex;
    align-items: center;
    color: $gray;
    font-size: 16px;
    margin-bottom: 30px;
    svg {
      fill: $gray;
      width: 25px;
    }
    .header__item {
      &:not(:last-child) {
        margin-right: 25px;
      }
      display: flex;
      align-items: center;
      svg {
        margin-right: 8px;
      }
    }
    .eye {
      svg {
        width: 20px;
      }
    }
    .favorite {
      svg {
        width: 16px;
      }
    }
  }
  .user {
    margin-bottom: 20px;
  }
  .options {
    z-index: 100;
    position: absolute;
    right: 45px;
    top: 35px;
    fill: $white;
    cursor: pointer;
    width: 20px;
  }
  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .tagList {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .tag:not(:last-child) {
      margin-right: 15px;
    }
  }
  .footer {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(242, 236, 248, 0.27);
    .item {
      color: $gray;
      font-weight: 700;
    }
    .item:not(:last-child) {
      margin-right: 7px;
      padding-right: 7px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        background-color: $gray;
        border-radius: 50%;
      }
    }
  }
  .footer__btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    &:hover {
      svg {
        fill: $main;
      }
    }
    svg {
      transition: 0.2s;
      margin-right: 16px;
      fill: $gray;
      width: 17px;
    }
  }
}
