@import "@/styles/assets/variables";

.user {
  display: flex;
  align-items: center;
  font-size: 14px;
  .avatar {
    margin-right: 15px;
    box-shadow: none !important;
  }
  .name {
    margin-bottom: 5px;
    font-weight: 700;
  }
  .login {
    color: $gray;
    transition: 0.2s;
    &:hover {
      color: $white;
    }
  }
}
